@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Sokkal szebb, élsimított betűk mobilon és Mac-en */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Megakadályozza a zavaró rángatózást mobilon, amikor a tetejére pörgetnek */
  overscroll-behavior-y: none;
  /* Eltünteti azt a kék villogást (tap highlight), amikor mobilon ráböksz egy gombra */
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-jager-dark text-jager-light font-sans m-0 p-0 min-h-screen;
  background: radial-gradient(circle at top, #2a160b 0%, #1A1A1A 60%);
  background-attachment: fixed;
}

/* =========================================
   PULL-TO-REFRESH JÄGER THEME (Minimalista)
========================================= */
.ptr--ptr {
  box-shadow: none !important;
  background-color: transparent !important;
}

.ptr--box {
  background-color: #0d0d0d !important;
  color: #F37021 !important;
  border: 1px solid rgba(243, 112, 33, 0.3) !important;
  box-shadow: 0 4px 15px rgba(243, 112, 33, 0.4) !important;
  border-radius: 50% !important;
  width: 45px !important;
  height: 45px !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}

.ptr--text {
  display: none !important;
}